vendor
.env
node_modules

!storage/app/files/test-file.txt

/public/images/custom-logos/*
!/public/images/custom-logos/index


/public/attachments/*
!/public/attachments/index
!/public/attachments/resources/
/public/attachments/resources/*
!/public/attachments/resources/index

/public/images/courses-images/*
!/public/images/courses-images/index

/public/images/educational-programs-images/*
!/public/images/educational-programs-images/index

/public/images/categories-images/*
!/public/images/categories-images/index

/public/images/users-images/*
!/public/images/users-images/index

/public/images/carrousel-default-images/*
!/public/images/carrousel-default-images/index

/public/images/carrousel-images/*
!/public/images/carrousel-images/index

/public/images/resources-images/*
!/public/images/resources-images/index

/public/images/previsualizations-sliders/*
!/public/images/previsualizations-sliders/index

/public/downloads_temps/*
!/public/downloads_temps/index

/public/fonts/*
!/public/fonts/index

/public/build/*
/public/hot
.phpunit.result.cache
.env.testing

!storage/app/files/test-file.txt


/tests/reports
.DS_Store
devops/pgvector_test/postgres_data/
